.cart {
    position: relative;
}

.cart-contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}


.cart-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #ff2200;
}

.btn-contenedor{
    margin-top: 30px;
    display: flex;

}

.btn-buy{
    color: #ffff;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ff2200;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 60px;
}


.bi{
    font-size: 30px;
    
}


.totalPrecio {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ff2200;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: rgb(255, 199, 195);
    padding: 0.7rem 1.2rem;
    border-radius: 16px;
    box-shadow: 1px 2px 2px 1px #b4b4b4;

}

.cart-button-checkout{
    display: flex;
    justify-content: center;
    margin-right: 80px;

  
}

.cart-checkout {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ff2200;
    color: #ffff;
    border: none;
    box-shadow: 2px 1px 3px 2px rgb(255, 163, 163);
    width: 130px;
    height: 40px;
    border-radius: 10%;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}