

.card-nombre{
    color: #ff2200;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    
  
}

.card-img{
    width: 300px;
    height: 400px;
    border-radius: 5%;
    padding: 2px;
    box-shadow: 2px 1px 3px 2px rgb(207, 203, 203);
    transition: 2s;
}


.card-img:hover{
    width: 320px;
    height: 320px;
}

.card-precio{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #ff2200;
    margin-bottom: 8px;
    margin-left: 20px;
}


.card-button{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ff2200;
    color: #ffff;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 1px 3px 2px rgb(255, 163, 163);
    width: 130px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10%;
    transition: 2s;
}

.card-button:hover{
    width: 140px;
    height: 60px;
}